html,
body {
	height: 100%;
	margin: 0px;
}

body {
  padding-top: 36px;
  @media (min-width: @screen-sm){
  	padding-top: 50px;
  }
}

.main-content {
	height: 100%;
	width: 100%;
}

.swiper-container-horizontal >.swiper-wrapper > .swiper-slide{
	border-right: 1px solid #ccc;
}

.swiper-container {
    //width: 100%;
    height: 100%;
}

.swiper-slide {
	// width: 50% !important;
}


.clear {
  clear: both;
}

.clear-left {
	clear: left;
}

/*.flexbox-container{
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;

	&--justify{
		justify-content: center;
	}
	> [class^="col-"]{
		float:none;
	}
}
*/
/*.-flexbox-scroll-container{
	//display: -ms-flex;
	//display: -webkit-flex;
	//display: flex;
  	//overflow-x: auto;
  	//scroll-snap-type: mandatory;

  	scroll-behavior: smooth;

  	height: 100%;
  	
  	-webkit-overflow-scrolling: touch;
  	-ms-overflow-style: -ms-autohiding-scrollbar;

	&--justify{
		justify-content: center;
	}
	flex-wrap: nowrap;
	> [class^="col-"]{
		float:none;
		//flex: 0 0 auto;
	}
}*/	