.exercise{
	position: relative;

	.exercise__controls{
		display: inline-block;
    	background: rgba(0,0,0,0.3);
    	position: relative;
    	left: 5px;
    	top: -36px;
	}
	.exercise__btn{
		width:30px;
		height: 30px;
		padding: 0;
		border: none;
		background-color: transparent;
		
		&:focus{
			outline:0;
		}
		
		svg{
			fill: #fff;
			width: 30px;
			height: 100%;
		}
	}

	&--thumbnail{
		margin-bottom: 10px;
		line-height: 1;

		.exercise__description,
		.exercise__controls{
			display: none;
		}
		.exercise__textwrapper{
			position: absolute;
			top: 0;
			left: 0;
			color: @text-white;
			h1, p{
				display: inline-block;
				background: rgba(0,0,0,0.4);
				padding: 2px;
				margin: 0;
			}
		}
	}
}

.imageviewer{
	&__image{
		width:100%;
		display:none;

		&.current{
			display: inline-block;
		}
	}
}
