.exercise{
	&--thumbnail{
		display: block;
		padding: 4px;
		margin-bottom: 20px;
		line-height: 1.42857143;
		background-color: #ffffff;
		border: 1px solid #dddddd;
		border-radius: 4px;

		.exercise__description,
		.exercise__btn{
			display: none;
		}
	}
}

.imageviewer{
	&__image{
		width:100%;
		display:none;

		&.current{
			display: inline-block;
		}
	}
}
